{"openapi":"3.1.0","info":{"title":"Gestão Auto API","description":"ERP SaaS multitenant da Digital Ventura. Isolamento por tenant via PostgreSQL Row Level Security; o tenant é extraído do claim 'organization' do JWT do Keycloak e roteado por DNS próprio de cada cliente.","version":"v1"},"servers":[{"url":"https://api.gestaosafra.dev","description":"Generated server url"}],"security":[{"keycloak":[]}],"tags":[{"name":"Cadastro fiscal da empresa","description":"CNPJ, inscrições, CNAE, endereço fiscal e regime tributário. Estes dados vivem no emitente do api-fiscal, que é quem assina a nota; aqui fica só o vínculo. Exigido apenas de quem vai emitir nota fiscal."},{"name":"Payment Terms","description":"Condições de pagamento: 30% em 30 dias, 70% em 60. A fatura usa o cadastro para montar as parcelas dela, e é na parcela que o pagamento é baixado."},{"name":"Unidades tributáveis","description":"As treze unidades em que a Receita mede mercadoria. É a lista a que toda unidade de medida do cliente precisa se associar."},{"name":"Stock","description":"O razão de estoque. Append-only como o contábil: não há endpoint de alteração nem de exclusão, porque movimento não se altera nem se apaga. Corrigir é estornar. O custo é médio móvel, por item × depósito."},{"name":"Item Variants","description":"Modelos e variantes. O modelo é ficha de configuração — diz quais eixos distinguem suas variantes; a variante é o item de verdade, com código e saldo. A combinação de valores é única sob o modelo: duas iguais partiriam o estoque do mesmo produto em dois cadastros."},{"name":"POS","description":"Turno de caixa e venda de balcão. A venda é a fatura de venda com baixa de estoque — não há documento de cupom."},{"name":"Physical Inventories","description":"Inventário físico: a contagem, e o ajuste que ela produz. Só as posições que divergirem do saldo geram movimento."},{"name":"Item Groups","description":"Grupos de item, em árvore. Ao contrário do grupo de parceiro, que é etiqueta plana, este é navegado (Insumos > Defensivos > Herbicidas) e as contas padrão são herdadas ramo abaixo."},{"name":"Items","description":"Itens. O código pode ser informado — quem já tem codificação própria não a abandona — ou gerado pela série de numeração. Lote, validade e número de série são por item."},{"name":"Cost Centers","description":"Centros de custo. É a dimensão que responde onde o dinheiro foi parar sem multiplicar o plano de contas: em vez de criar uma conta por talhão, lança-se na conta de despesa com o centro de custo do talhão. É por ela que sai o custo por hectare."},{"name":"Party Groups","description":"Grupos de cliente e de fornecedor. Existem para carregar a conta a receber / a pagar padrão: é o que permite cadastrar cliente sem escolher conta contábil."},{"name":"Chart of Accounts","description":"Modelos prontos de plano de contas. Os modelos brasileiros são da casa e cobrem varejo, indústria, serviços, farmácia, oficina, produtor rural e terceiro setor."},{"name":"Purchase Invoices","description":"Faturas de compra. É o único documento que forma custo de estoque: na venda o custo sai do custo médio, aqui a nota define quanto o item passa a valer."},{"name":"Suppliers","description":"Fornecedores. Cadastro separado do de clientes de propósito: a mesma empresa pode ser os dois — comum no agro — e nesse caso cada papel tem conta contábil, prazo e bloqueio próprios."},{"name":"Sign Up","description":"Cadastro de cliente novo. Cria a organização no provedor de identidade, semeia os dados iniciais e devolve o acesso do primeiro administrador."},{"name":"UOMs","description":"Unidades de medida. Toda quantidade de estoque é expressa numa unidade, e a conversão entre elas só existe dentro da mesma categoria."},{"name":"Currencies","description":"Moedas do tenant. Toda empresa tem uma moeda padrão, e o razão guarda valor na moeda da conta, na da transação e na de relatório."},{"name":"Bank Reconciliation","description":"Conciliação bancária. Conciliar marca a correspondência entre extrato e pagamento; só o lançamento direto escreve no razão, porque ali nunca houve documento."},{"name":"Regime tributário da empresa","description":"Dois campos de escolha e o resto derivado. O regime vai no cadastro fiscal, para o emitente do api-fiscal; aqui ficam o anexo do Simples e a RBT12 que o cliente migrado informa uma vez. A leitura abre a conta: RBT12, faixa e alíquota efetiva, cada número com a origem dele."},{"name":"Catálogo de permissões","description":"O que existe para ser concedido, agrupado por recurso. É a fonte da tela de composição de perfil."},{"name":"Consulta de CNPJ","description":"Informe o CNPJ e o sistema sugere razão social, endereço, CNAE e situação cadastral. É sugestão: todo campo continua editável, e a falha da consulta nunca impede o cadastro manual."},{"name":"Sales Invoices","description":"Faturas de venda. Lançar escreve no razão contábil e, quando a fatura baixa estoque, também no razão de estoque — na mesma transação."},{"name":"Natureza da operação","description":"O que a operação é, e o CFOP e a tributação que ela produz por relação de UF e regime."},{"name":"NCM","description":"A classificação fiscal de mercadoria, com a unidade em que cada NCM é tributado. É tabela da lei: igual para todos os clientes, versionada por vigência, e só de leitura — quem escreve é a migration."},{"name":"Party Accounts","description":"A conta contábil de um parceiro numa empresa, e a cadeia que a descobre: conta do parceiro, senão a do grupo, senão a única conta com o papel RECEIVABLE/PAYABLE."},{"name":"Payment Methods","description":"Meios de pagamento. A conta contábil não fica aqui — ela depende de qual caixa recebeu, e mora na linha do perfil de PDV."},{"name":"Fiscal Years","description":"Exercícios sociais. Delimitam o período dos lançamentos e sustentam o fechamento periódico: exercício encerrado não aceita lançamento novo, e por isso o passado não precisa ser recalculado."},{"name":"Bank Transactions","description":"Linhas de extrato. Não são documento contábil: quem lançou foi o pagamento, e conciliar apenas marca a correspondência."},{"name":"Ledger","description":"O razão contábil. Append-only: não há endpoint de alteração nem de exclusão porque lançamento não se altera nem se apaga — o banco recusa por trigger. Corrigir é estornar."},{"name":"Sales Orders","description":"Pedidos de venda. Não lançam nada: são compromissos. Entregas e faturas os atendem, e cada uma avança a sua metade."},{"name":"Aging","description":"O contas a receber e o a pagar por faixa de vencimento. Sai das parcelas da fatura, não do razão: o razão responde quanto devem, só a parcela responde quanto já venceu."},{"name":"Sugestão de preço de venda","description":"Custo Líquido + Despesas + Lucro, com o imposto por dentro ou por fora — e a escolha é do usuário. É sugestão: nada entra na lista de preços até alguém aceitar. Depois de aceito o preço congela, e a varredura de variação avisa quando o custo se move."},{"name":"Onboarding","description":"O que ainda falta para o cliente operar. A resposta é derivada do estado real a cada consulta, nunca de passos marcados como concluídos."},{"name":"Naming Series","description":"Séries numeradas. O id técnico identifica a linha para o sistema; o código identifica a coisa para a pessoa, e é ele que sai impresso no documento. Item usa hoje; fatura, pedido e lote usam o mesmo motor."},{"name":"Usuários do cliente","description":"Quem trabalha no cliente e entra no sistema. Vive no Keycloak: a conta é de lá, o vínculo com o cliente é a organização, e o perfil é o grupo dentro dela."},{"name":"Custo real do item","description":"O custo líquido de aquisição, com a conta aberta de onde veio cada parcela. Sai da nota de compra real e do custo médio do estoque, nunca de percentual digitado."},{"name":"Payments","description":"Pagamentos e baixa de faturas. É o único lugar do sistema que escreve o saldo em aberto de uma fatura."},{"name":"Purchase Orders","description":"Pedidos de compra. Não lançam nada: são compromissos. Recebimentos e notas os atendem, e cada um avança a sua metade."},{"name":"Item Prices","description":"Preços por item. O mais específico ganha: parceiro, depois lote, depois unidade — e a data só desempata entre iguais."},{"name":"Warehouses","description":"Depósitos, em árvore por empresa. A conta de estoque mora no depósito, e não no item: é o que permite separar estoque próprio de mercadoria de terceiros no balanço sem ninguém escolher a conta em cada movimento."},{"name":"Purchase Receipts","description":"Recebimentos: a carga chegando antes da nota. Forma o custo do estoque contra a conta de mercadoria recebida não faturada, que a nota depois zera."},{"name":"Financial Statements","description":"Balanço e DRE. Saem do plano de contas inteiro cruzado com o razão, e não só das contas que tiveram movimento: conta zerada aparece, com zero."},{"name":"Companies","description":"Empresas do tenant. Um tenant pode ter várias (grupo econômico), com hierarquia. Toda empresa tem moeda padrão e método de valorização de estoque próprios."},{"name":"Party Contacts","description":"Alteração e remoção de contatos e endereços."},{"name":"Accounts","description":"Plano de contas. Árvore por empresa: contas sintéticas agrupam, analíticas recebem lançamento. A natureza (ativo, passivo, PL, receita, despesa) vale para o ramo inteiro e é herdada da raiz."},{"name":"Tracking","description":"Lote e número de série. Lote identifica um CONJUNTO que entrou junto — é o que a legislação de agrotóxico exige e é onde a validade mora. Número de série identifica UMA UNIDADE FÍSICA."},{"name":"Funcionários","description":"Quem trabalha no cliente, com ou sem conta de acesso. A conta é opcional e o vínculo é único quando existe."},{"name":"Delivery Notes","description":"Entregas: a mercadoria saindo, sem dinheiro envolvido. Quem cobra é a fatura, que pode vir depois e apontar para a entrega."},{"name":"Bank Accounts","description":"Contas bancárias. A conta contábil é única por conta bancária: duas apontando para a mesma deixariam a compensação sem saber de qual extrato o pagamento veio."},{"name":"Customers","description":"Clientes. A inscrição é validada pelo dígito verificador e gravada só com dígitos — a busca aceita a máscara e a resposta devolve as duas formas."},{"name":"UOM Conversions","description":"Fatores de conversão entre unidades da mesma categoria. O par vale nos dois sentidos: cadastrado Kg→g, a conversão de g para Kg usa o inverso do fator."},{"name":"CFOP","description":"A tabela publicada de CFOP, com título e nota explicativa. É consulta: a tabela é da lei e só a migration a escreve. Serve para quem cadastra a regra da natureza escolher pelo que o código significa, em vez de precisar sabê-lo de cor."},{"name":"Accounting Periods","description":"Períodos contábeis e o fechamento. É o mecanismo que dispensa recalcular o passado: em vez de aceitar lançamento retroativo e repostar tudo depois, o período fecha e não recebe mais lançamento. Documento que chegou atrasado entra no período aberto."},{"name":"POS Profiles","description":"Caixas: depósito, lista de preços, cliente padrão e os meios aceitos. Tudo o que o balcão precisa para vender digitando só item e quantidade."},{"name":"UOM Categories","description":"Categorias de unidade de medida (Peso, Volume, Contagem). Só unidades da mesma categoria podem ter fator de conversão entre si."},{"name":"Platform Tenants","description":"Administração da carteira de clientes. Enxerga todos os tenants e por isso é restrita ao papel PLATFORM_ADMIN."},{"name":"Price Lists","description":"Políticas de preço. Uma lista serve para vender, para comprar, ou para as duas — e o documento guarda com qual delas foi feito."}],"paths":{"/warehouses/{id}":{"get":{"tags":["Warehouses"],"summary":"Busca depósito por ID","operationId":"getById","parameters":[{"name":"id","in":"path","description":"ID do depósito","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Depósito encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}},"404":{"description":"Depósito não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}}}},"put":{"tags":["Warehouses"],"summary":"Atualiza depósito","operationId":"update","parameters":[{"name":"id","in":"path","description":"ID do depósito","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseRequestDTO"}}},"required":true},"responses":{"200":{"description":"Depósito atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}},"404":{"description":"Depósito, empresa ou conta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}},"409":{"description":"Já existe depósito com esse nome ou código","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}},"422":{"description":"Hierarquia inválida ou conta com tipo errado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}}}},"delete":{"tags":["Warehouses"],"summary":"Remove depósito (soft-delete)","description":"Recusa enquanto houver depósitos subordinados.","operationId":"delete","parameters":[{"name":"id","in":"path","description":"ID do depósito","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Depósito removido"},"404":{"description":"Depósito não encontrado"},"422":{"description":"Depósito ainda tem subordinados"}}}},"/uoms/{id}":{"get":{"tags":["UOMs"],"summary":"Busca unidade de medida por ID","operationId":"getById_1","parameters":[{"name":"id","in":"path","description":"ID da unidade","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Unidade encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}},"404":{"description":"Unidade não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}}}},"put":{"tags":["UOMs"],"summary":"Atualiza unidade de medida","operationId":"update_1","parameters":[{"name":"id","in":"path","description":"ID da unidade","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UomRequestDTO"}}},"required":true},"responses":{"200":{"description":"Unidade atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}},"404":{"description":"Unidade ou categoria não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}},"409":{"description":"Já existe unidade com esse nome","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}}}},"delete":{"tags":["UOMs"],"summary":"Remove unidade de medida (soft-delete)","description":"Marca a unidade como removida preenchendo deleted_at; não apaga fisicamente.","operationId":"delete_1","parameters":[{"name":"id","in":"path","description":"ID da unidade","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Unidade removida"},"404":{"description":"Unidade não encontrada"}}}},"/uom-conversions/{id}":{"get":{"tags":["UOM Conversions"],"summary":"Busca fator de conversão por ID","operationId":"getById_2","parameters":[{"name":"id","in":"path","description":"ID da conversão","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Conversão encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"404":{"description":"Conversão não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}}}},"put":{"tags":["UOM Conversions"],"summary":"Atualiza fator de conversão","operationId":"update_2","parameters":[{"name":"id","in":"path","description":"ID da conversão","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UomConversionRequestDTO"}}},"required":true},"responses":{"200":{"description":"Conversão atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"404":{"description":"Conversão ou unidade não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"409":{"description":"Já existe conversão para esse par","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"422":{"description":"Unidades iguais, sem categoria, ou de categorias diferentes","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}}}},"delete":{"tags":["UOM Conversions"],"summary":"Remove fator de conversão (soft-delete)","description":"Marca a conversão como removida preenchendo deleted_at.","operationId":"delete_2","parameters":[{"name":"id","in":"path","description":"ID da conversão","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Conversão removida"},"404":{"description":"Conversão não encontrada"}}}},"/uom-categories/{id}":{"get":{"tags":["UOM Categories"],"summary":"Busca categoria de unidade por ID","operationId":"getById_3","parameters":[{"name":"id","in":"path","description":"ID da categoria","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Categoria encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomCategoryResponseDTO"}}}},"404":{"description":"Categoria não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomCategoryResponseDTO"}}}}}},"put":{"tags":["UOM Categories"],"summary":"Atualiza categoria de unidade","operationId":"update_3","parameters":[{"name":"id","in":"path","description":"ID da categoria","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UomCategoryRequestDTO"}}},"required":true},"responses":{"200":{"description":"Categoria atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomCategoryResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomCategoryResponseDTO"}}}},"404":{"description":"Categoria não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomCategoryResponseDTO"}}}},"409":{"description":"Já existe categoria com esse nome","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomCategoryResponseDTO"}}}}}},"delete":{"tags":["UOM Categories"],"summary":"Remove categoria de unidade (soft-delete)","description":"Recusa a remoção enquanto houver unidades vinculadas à categoria.","operationId":"delete_3","parameters":[{"name":"id","in":"path","description":"ID da categoria","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Categoria removida"},"404":{"description":"Categoria não encontrada"},"422":{"description":"Categoria ainda tem unidades vinculadas"}}}},"/tracking/serials/{serialId}/status":{"put":{"tags":["Tracking"],"summary":"Muda a situação de uma unidade","description":"Situação não é posição: onde a unidade está é o razão de estoque que diz, a partir da Fase F.","operationId":"updateSerialStatus","parameters":[{"name":"serialId","in":"path","description":"ID da unidade","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"status","in":"query","description":"Nova situação","required":true,"schema":{"type":"string","enum":["AVAILABLE","DELIVERED","CONSUMED","SCRAPPED"]},"example":"DELIVERED"},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Situação alterada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SerialNumberResponseDTO"}}}},"404":{"description":"Número de série não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SerialNumberResponseDTO"}}}}}}},"/tracking/batches/{batchId}":{"put":{"tags":["Tracking"],"summary":"Atualiza um lote","operationId":"updateBatch","parameters":[{"name":"batchId","in":"path","description":"ID do lote","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchRequestDTO"}}},"required":true},"responses":{"200":{"description":"Lote atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponseDTO"}}}},"404":{"description":"Lote ou fornecedor não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponseDTO"}}}},"422":{"description":"Datas inconsistentes","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BatchResponseDTO"}}}}}},"delete":{"tags":["Tracking"],"summary":"Remove um lote (soft-delete)","operationId":"deleteBatch","parameters":[{"name":"batchId","in":"path","description":"ID do lote","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Lote removido"},"404":{"description":"Lote não encontrado"},"422":{"description":"O lote tem números de série vinculados"}}}},"/suppliers/{id}":{"get":{"tags":["Suppliers"],"summary":"Busca fornecedor por ID","operationId":"getById_4","parameters":[{"name":"id","in":"path","description":"ID do fornecedor","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Fornecedor encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponseDTO"}}}},"404":{"description":"Fornecedor não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponseDTO"}}}}}},"put":{"tags":["Suppliers"],"summary":"Atualiza fornecedor","operationId":"update_4","parameters":[{"name":"id","in":"path","description":"ID do fornecedor","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierRequestDTO"}}},"required":true},"responses":{"200":{"description":"Fornecedor atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponseDTO"}}}},"400":{"description":"Payload inválido ou CPF/CNPJ inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponseDTO"}}}},"404":{"description":"Fornecedor, grupo ou moeda não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponseDTO"}}}},"409":{"description":"Já existe fornecedor com esse nome ou inscrição","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponseDTO"}}}},"422":{"description":"Regra de negócio violada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierResponseDTO"}}}}}},"delete":{"tags":["Suppliers"],"summary":"Remove fornecedor (soft-delete)","operationId":"delete_4","parameters":[{"name":"id","in":"path","description":"ID do fornecedor","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Fornecedor removido"},"404":{"description":"Fornecedor não encontrado"}}}},"/sales-orders/{id}":{"get":{"tags":["Sales Orders"],"summary":"Busca um pedido","description":"A situação de atendimento vem derivada das linhas, nunca de coluna guardada.","operationId":"get","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Pedido encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesOrderResponseDTO"}}}},"404":{"description":"Pedido não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesOrderResponseDTO"}}}}}},"put":{"tags":["Sales Orders"],"summary":"Altera um rascunho","operationId":"update_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesOrderRequestDTO"}}},"required":true},"responses":{"200":{"description":"Rascunho alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesOrderResponseDTO"}}}},"404":{"description":"Pedido não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesOrderResponseDTO"}}}},"422":{"description":"O pedido já foi lançado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesOrderResponseDTO"}}}}}},"delete":{"tags":["Sales Orders"],"summary":"Apaga um rascunho","operationId":"delete_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Rascunho apagado"},"404":{"description":"Pedido não encontrado"},"422":{"description":"Já lançado; cancele-o"}}}},"/sales-invoices/{id}":{"get":{"tags":["Sales Invoices"],"summary":"Busca uma fatura","operationId":"get_1","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Fatura encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesInvoiceResponseDTO"}}}},"404":{"description":"Fatura não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesInvoiceResponseDTO"}}}}}},"put":{"tags":["Sales Invoices"],"summary":"Altera um rascunho","description":"Só rascunho aceita alteração.","operationId":"update_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SalesInvoiceRequestDTO"}}},"required":true},"responses":{"200":{"description":"Rascunho alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesInvoiceResponseDTO"}}}},"404":{"description":"Fatura não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesInvoiceResponseDTO"}}}},"422":{"description":"A fatura já foi lançada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SalesInvoiceResponseDTO"}}}}}},"delete":{"tags":["Sales Invoices"],"summary":"Apaga um rascunho","operationId":"delete_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Rascunho apagado"},"404":{"description":"Fatura não encontrada"},"422":{"description":"A fatura já foi lançada; cancele-a"}}}},"/purchase-receipts/{id}":{"get":{"tags":["Purchase Receipts"],"summary":"Busca um documento","operationId":"get_2","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Documento encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseReceiptResponseDTO"}}}},"404":{"description":"Documento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseReceiptResponseDTO"}}}}}},"put":{"tags":["Purchase Receipts"],"summary":"Altera um rascunho","operationId":"update_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseReceiptRequestDTO"}}},"required":true},"responses":{"200":{"description":"Rascunho alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseReceiptResponseDTO"}}}},"404":{"description":"Documento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseReceiptResponseDTO"}}}},"422":{"description":"O documento já foi lançado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseReceiptResponseDTO"}}}}}},"delete":{"tags":["Purchase Receipts"],"summary":"Apaga um rascunho","operationId":"delete_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Rascunho apagado"},"404":{"description":"Documento não encontrado"},"422":{"description":"Já lançado; cancele-o"}}}},"/purchase-orders/{id}":{"get":{"tags":["Purchase Orders"],"summary":"Busca um pedido","description":"A situação de atendimento vem derivada das linhas, nunca de coluna guardada.","operationId":"get_3","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Pedido encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrderResponseDTO"}}}},"404":{"description":"Pedido não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrderResponseDTO"}}}}}},"put":{"tags":["Purchase Orders"],"summary":"Altera um rascunho","operationId":"update_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseOrderRequestDTO"}}},"required":true},"responses":{"200":{"description":"Rascunho alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrderResponseDTO"}}}},"404":{"description":"Pedido não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrderResponseDTO"}}}},"422":{"description":"O pedido já foi lançado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseOrderResponseDTO"}}}}}},"delete":{"tags":["Purchase Orders"],"summary":"Apaga um rascunho","operationId":"delete_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Rascunho apagado"},"404":{"description":"Pedido não encontrado"},"422":{"description":"Já lançado; cancele-o"}}}},"/purchase-invoices/{id}":{"get":{"tags":["Purchase Invoices"],"summary":"Busca uma nota","operationId":"get_4","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Nota encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseInvoiceResponseDTO"}}}},"404":{"description":"Nota não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseInvoiceResponseDTO"}}}}}},"put":{"tags":["Purchase Invoices"],"summary":"Altera um rascunho","operationId":"update_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PurchaseInvoiceRequestDTO"}}},"required":true},"responses":{"200":{"description":"Rascunho alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseInvoiceResponseDTO"}}}},"404":{"description":"Nota não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseInvoiceResponseDTO"}}}},"422":{"description":"A nota já foi lançada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PurchaseInvoiceResponseDTO"}}}}}},"delete":{"tags":["Purchase Invoices"],"summary":"Apaga um rascunho","operationId":"delete_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Rascunho apagado"},"404":{"description":"Nota não encontrada"},"422":{"description":"A nota já foi lançada; cancele-a"}}}},"/price-lists/{id}":{"get":{"tags":["Price Lists"],"summary":"Busca uma lista de preços","operationId":"get_5","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Lista encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PriceListResponseDTO"}}}},"404":{"description":"Lista não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PriceListResponseDTO"}}}}}},"put":{"tags":["Price Lists"],"summary":"Altera uma lista de preços","operationId":"update_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PriceListRequestDTO"}}},"required":true},"responses":{"200":{"description":"Lista alterada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PriceListResponseDTO"}}}},"404":{"description":"Lista não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PriceListResponseDTO"}}}},"409":{"description":"Nome já em uso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PriceListResponseDTO"}}}}}},"delete":{"tags":["Price Lists"],"summary":"Apaga uma lista de preços vazia","operationId":"delete_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Lista apagada"},"404":{"description":"Lista não encontrada"},"422":{"description":"A lista ainda tem preços"}}}},"/pos-profiles/{id}":{"get":{"tags":["POS Profiles"],"summary":"Busca um caixa","operationId":"get_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Caixa encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PosProfileResponseDTO"}}}},"404":{"description":"Caixa não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PosProfileResponseDTO"}}}}}},"put":{"tags":["POS Profiles"],"summary":"Altera um caixa","operationId":"update_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PosProfileRequestDTO"}}},"required":true},"responses":{"200":{"description":"Caixa alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PosProfileResponseDTO"}}}},"404":{"description":"Caixa não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PosProfileResponseDTO"}}}},"422":{"description":"Regra de negócio violada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PosProfileResponseDTO"}}}}}},"delete":{"tags":["POS Profiles"],"summary":"Apaga um caixa","operationId":"delete_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Caixa apagado"},"404":{"description":"Caixa não encontrado"}}}},"/platform/tenants/{slug}/suspend":{"put":{"tags":["Platform Tenants"],"summary":"Suspende o cliente","description":"Ele continua entrando, consultando e exportando; não lança. A identidade NÃO é desligada — desligá-la impediria o login e a suspensão viraria bloqueio total.","operationId":"suspend","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"name":"reason","in":"query","description":"Motivo, que aparece na resposta ao cliente","required":false,"schema":{"type":"string","default":"Pagamento em atraso"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Cliente suspenso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantResponseDTO"}}}},"404":{"description":"Cliente não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantResponseDTO"}}}}}}},"/platform/tenants/{slug}/cancel":{"put":{"tags":["Platform Tenants"],"summary":"Cancela o cliente","description":"O acesso acaba e o dado permanece até a data de purga. Apagar na hora tornaria impossível o cliente pedir o que deixou para trás.","operationId":"cancel","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Cliente cancelado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantResponseDTO"}}}},"404":{"description":"Cliente não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantResponseDTO"}}}}}}},"/platform/tenants/{slug}/activate":{"put":{"tags":["Platform Tenants"],"summary":"Torna o cliente pagante","description":"Também reativa quem estava suspenso.","operationId":"activate","parameters":[{"name":"slug","in":"path","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Cliente ativado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantResponseDTO"}}}},"404":{"description":"Cliente não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantResponseDTO"}}}}}}},"/physical-inventories/{id}":{"get":{"tags":["Physical Inventories"],"summary":"Busca um documento","operationId":"get_7","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Documento encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhysicalInventoryResponseDTO"}}}},"404":{"description":"Documento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhysicalInventoryResponseDTO"}}}}}},"put":{"tags":["Physical Inventories"],"summary":"Altera um rascunho","operationId":"update_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PhysicalInventoryRequestDTO"}}},"required":true},"responses":{"200":{"description":"Rascunho alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhysicalInventoryResponseDTO"}}}},"404":{"description":"Documento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhysicalInventoryResponseDTO"}}}},"422":{"description":"O documento já foi lançado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PhysicalInventoryResponseDTO"}}}}}},"delete":{"tags":["Physical Inventories"],"summary":"Apaga um rascunho","operationId":"delete_12","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Rascunho apagado"},"404":{"description":"Documento não encontrado"},"422":{"description":"Já lançado; cancele-o"}}}},"/payments/{id}":{"get":{"tags":["Payments"],"summary":"Busca um pagamento","operationId":"get_8","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Pagamento encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentEntryResponseDTO"}}}},"404":{"description":"Pagamento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentEntryResponseDTO"}}}}}},"put":{"tags":["Payments"],"summary":"Altera um rascunho","operationId":"update_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentEntryRequestDTO"}}},"required":true},"responses":{"200":{"description":"Rascunho alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentEntryResponseDTO"}}}},"404":{"description":"Pagamento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentEntryResponseDTO"}}}},"422":{"description":"O pagamento já foi lançado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentEntryResponseDTO"}}}}}},"delete":{"tags":["Payments"],"summary":"Apaga um rascunho","operationId":"delete_13","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Rascunho apagado"},"404":{"description":"Pagamento não encontrado"},"422":{"description":"O pagamento já foi lançado; cancele-o"}}}},"/payment-terms/{id}":{"get":{"tags":["Payment Terms"],"summary":"Busca condição de pagamento por ID","operationId":"getById_5","parameters":[{"name":"id","in":"path","description":"ID da condição","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Condição encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTermResponseDTO"}}}},"404":{"description":"Condição não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTermResponseDTO"}}}}}},"put":{"tags":["Payment Terms"],"summary":"Atualiza condição de pagamento","description":"As parcelas são substituídas por inteiro. Documentos já lançados não mudam: eles gravaram as parcelas deles no momento do lançamento.","operationId":"update_14","parameters":[{"name":"id","in":"path","description":"ID da condição","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentTermRequestDTO"}}},"required":true},"responses":{"200":{"description":"Condição atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTermResponseDTO"}}}},"400":{"description":"Percentuais não somam 100","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTermResponseDTO"}}}},"404":{"description":"Condição não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentTermResponseDTO"}}}}}},"delete":{"tags":["Payment Terms"],"summary":"Remove condição de pagamento","operationId":"delete_14","parameters":[{"name":"id","in":"path","description":"ID da condição","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Condição removida"},"404":{"description":"Condição não encontrada"}}}},"/payment-methods/{id}":{"get":{"tags":["Payment Methods"],"summary":"Busca um meio de pagamento","operationId":"get_9","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Meio encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponseDTO"}}}},"404":{"description":"Meio não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponseDTO"}}}}}},"put":{"tags":["Payment Methods"],"summary":"Altera um meio de pagamento","operationId":"update_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PaymentMethodRequestDTO"}}},"required":true},"responses":{"200":{"description":"Meio alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponseDTO"}}}},"404":{"description":"Meio não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponseDTO"}}}},"409":{"description":"Nome já em uso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PaymentMethodResponseDTO"}}}}}},"delete":{"tags":["Payment Methods"],"summary":"Apaga um meio de pagamento","operationId":"delete_15","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Meio apagado"},"404":{"description":"Meio não encontrado"}}}},"/party-groups/suppliers/{id}":{"get":{"tags":["Party Groups"],"summary":"Busca grupo de fornecedores por ID","operationId":"getSupplierGroup","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Grupo encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierGroupResponseDTO"}}}},"404":{"description":"Grupo não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierGroupResponseDTO"}}}}}},"put":{"tags":["Party Groups"],"summary":"Atualiza grupo de fornecedores","operationId":"updateSupplierGroup","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SupplierGroupRequestDTO"}}},"required":true},"responses":{"200":{"description":"Grupo atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierGroupResponseDTO"}}}},"404":{"description":"Grupo ou conta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierGroupResponseDTO"}}}},"409":{"description":"Já existe grupo com esse nome","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierGroupResponseDTO"}}}},"422":{"description":"Conta com tipo errado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/SupplierGroupResponseDTO"}}}}}},"delete":{"tags":["Party Groups"],"summary":"Remove grupo de fornecedores (soft-delete)","description":"Recusa enquanto houver fornecedores no grupo.","operationId":"deleteSupplierGroup","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Grupo removido"},"404":{"description":"Grupo não encontrado"},"422":{"description":"Grupo ainda tem fornecedores"}}}},"/party-groups/customers/{id}":{"get":{"tags":["Party Groups"],"summary":"Busca grupo de clientes por ID","operationId":"getCustomerGroup","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Grupo encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerGroupResponseDTO"}}}},"404":{"description":"Grupo não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerGroupResponseDTO"}}}}}},"put":{"tags":["Party Groups"],"summary":"Atualiza grupo de clientes","operationId":"updateCustomerGroup","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerGroupRequestDTO"}}},"required":true},"responses":{"200":{"description":"Grupo atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerGroupResponseDTO"}}}},"404":{"description":"Grupo ou conta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerGroupResponseDTO"}}}},"409":{"description":"Já existe grupo com esse nome","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerGroupResponseDTO"}}}},"422":{"description":"Conta com tipo errado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerGroupResponseDTO"}}}}}},"delete":{"tags":["Party Groups"],"summary":"Remove grupo de clientes (soft-delete)","description":"Recusa enquanto houver clientes no grupo.","operationId":"deleteCustomerGroup","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Grupo removido"},"404":{"description":"Grupo não encontrado"},"422":{"description":"Grupo ainda tem clientes"}}}},"/party-contacts/contacts/{id}":{"put":{"tags":["Party Contacts"],"summary":"Atualiza contato","description":"Marcar como principal desmarca o anterior automaticamente.","operationId":"updateContact","parameters":[{"name":"id","in":"path","description":"ID do contato","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactRequestDTO"}}},"required":true},"responses":{"200":{"description":"Contato atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponseDTO"}}}},"404":{"description":"Contato não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponseDTO"}}}},"422":{"description":"Contato sem e-mail, telefone nem celular","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ContactResponseDTO"}}}}}},"delete":{"tags":["Party Contacts"],"summary":"Remove contato (soft-delete)","operationId":"deleteContact","parameters":[{"name":"id","in":"path","description":"ID do contato","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Contato removido"},"404":{"description":"Contato não encontrado"}}}},"/party-contacts/addresses/{id}":{"put":{"tags":["Party Contacts"],"summary":"Atualiza endereço","operationId":"updateAddress","parameters":[{"name":"id","in":"path","description":"ID do endereço","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddressRequestDTO"}}},"required":true},"responses":{"200":{"description":"Endereço atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressResponseDTO"}}}},"404":{"description":"Endereço não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressResponseDTO"}}}},"409":{"description":"Já existe endereço com esse rótulo","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AddressResponseDTO"}}}}}},"delete":{"tags":["Party Contacts"],"summary":"Remove endereço (soft-delete)","operationId":"deleteAddress","parameters":[{"name":"id","in":"path","description":"ID do endereço","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Endereço removido"},"404":{"description":"Endereço não encontrado"}}}},"/party-accounts":{"get":{"tags":["Party Accounts"],"summary":"Contas configuradas de um parceiro, por empresa","operationId":"getByParty","parameters":[{"name":"partyType","in":"query","description":"Tipo do parceiro","required":true,"schema":{"type":"string","enum":["CUSTOMER","SUPPLIER","EMPLOYEE","SHAREHOLDER"]},"example":"CUSTOMER"},{"name":"partyId","in":"query","description":"ID do parceiro","required":true,"schema":{"type":"integer","format":"int64"},"example":7},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Contas retornadas com sucesso","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/PartyAccountResponseDTO"}}}}}}},"put":{"tags":["Party Accounts"],"summary":"Configura a conta do parceiro numa empresa","description":"Cria ou substitui. Um parceiro tem uma conta por empresa.","operationId":"createOrUpdate","parameters":[{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartyAccountRequestDTO"}}},"required":true},"responses":{"200":{"description":"Conta configurada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyAccountResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyAccountResponseDTO"}}}},"404":{"description":"Empresa, parceiro ou conta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyAccountResponseDTO"}}}},"422":{"description":"Conta de outra empresa, com o tipo errado, ou que não aceita lançamento","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PartyAccountResponseDTO"}}}}}}},"/operation-natures/{id}":{"get":{"tags":["Natureza da operação"],"summary":"Busca uma natureza da operação","operationId":"getById_6","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Natureza encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OperationNatureResponseDTO"}}}}}},"put":{"tags":["Natureza da operação"],"summary":"Altera uma natureza da operação","description":"Trocar a direção é recusado quando alguma regra existente tem CFOP da outra família — senão as regras ficariam inválidas em silêncio.","operationId":"update_16","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationNatureRequestDTO"}}},"required":true},"responses":{"200":{"description":"Natureza alterada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OperationNatureResponseDTO"}}}},"422":{"description":"A direção contraria as regras já cadastradas","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OperationNatureResponseDTO"}}}}}},"delete":{"tags":["Natureza da operação"],"summary":"Remove uma natureza da operação","operationId":"delete_16","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Natureza removida"}}}},"/operation-natures/rules/{ruleId}":{"put":{"tags":["Natureza da operação"],"summary":"Altera uma regra da natureza","operationId":"updateRule","parameters":[{"name":"ruleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OperationNatureRuleRequestDTO"}}},"required":true},"responses":{"200":{"description":"Regra alterada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/OperationNatureRuleResponseDTO"}}}}}},"delete":{"tags":["Natureza da operação"],"summary":"Remove uma regra da natureza","operationId":"deleteRule","parameters":[{"name":"ruleId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Regra removida"}}}},"/naming-series/{id}":{"get":{"tags":["Naming Series"],"summary":"Busca série por ID","operationId":"getById_7","parameters":[{"name":"id","in":"path","description":"ID da série","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Série encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NamingSeriesResponseDTO"}}}},"404":{"description":"Série não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NamingSeriesResponseDTO"}}}}}},"put":{"tags":["Naming Series"],"summary":"Atualiza série","description":"Prefixo e número corrente não mudam: trocar o prefixo faria os códigos já impressos deixarem de casar com a série, e recuar o número produziria código repetido.","operationId":"update_17","parameters":[{"name":"id","in":"path","description":"ID da série","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NamingSeriesRequestDTO"}}},"required":true},"responses":{"200":{"description":"Série atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NamingSeriesResponseDTO"}}}},"404":{"description":"Série não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NamingSeriesResponseDTO"}}}},"422":{"description":"Tentativa de trocar o prefixo","content":{"*/*":{"schema":{"$ref":"#/components/schemas/NamingSeriesResponseDTO"}}}}}},"delete":{"tags":["Naming Series"],"summary":"Remove série (soft-delete)","operationId":"delete_17","parameters":[{"name":"id","in":"path","description":"ID da série","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Série removida"},"404":{"description":"Série não encontrada"}}}},"/items/{id}":{"get":{"tags":["Items"],"summary":"Busca item por ID","operationId":"getById_8","parameters":[{"name":"id","in":"path","description":"ID do item","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Item encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemResponseDTO"}}}},"404":{"description":"Item não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemResponseDTO"}}}}}},"put":{"tags":["Items"],"summary":"Atualiza item","description":"O código não muda: ele já está impresso nos documentos que citam o item.","operationId":"update_18","parameters":[{"name":"id","in":"path","description":"ID do item","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemRequestDTO"}}},"required":true},"responses":{"200":{"description":"Item atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemResponseDTO"}}}},"404":{"description":"Item ou referência não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemResponseDTO"}}}},"422":{"description":"Tentativa de trocar o código, ou regra violada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemResponseDTO"}}}}}},"delete":{"tags":["Items"],"summary":"Remove item (soft-delete)","operationId":"delete_18","parameters":[{"name":"id","in":"path","description":"ID do item","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Item removido"},"404":{"description":"Item não encontrado"},"422":{"description":"Item é modelo e ainda tem variantes"}}}},"/items/{id}/uom-conversions":{"get":{"tags":["Items"],"summary":"Unidades alternativas do item","operationId":"getConversions","parameters":[{"name":"id","in":"path","description":"ID do item","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Conversões retornadas com sucesso","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemUomConversionResponseDTO"}}}}}}},"put":{"tags":["Items"],"summary":"Configura uma unidade alternativa do item","description":"O fator é do item, não da unidade: saca de soja tem 60 kg e saca de arroz tem 50.","operationId":"putConversion","parameters":[{"name":"id","in":"path","description":"ID do item","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemUomConversionRequestDTO"}}},"required":true},"responses":{"200":{"description":"Conversão configurada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemUomConversionResponseDTO"}}}},"404":{"description":"Item ou unidade não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemUomConversionResponseDTO"}}}},"422":{"description":"A unidade informada já é a de estoque","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemUomConversionResponseDTO"}}}}}}},"/items/defaults":{"put":{"tags":["Items"],"summary":"Configura padrões de um item ou de um grupo numa empresa","description":"Exatamente um dos dois níveis deve vir preenchido.","operationId":"putDefaults","parameters":[{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemDefaultRequestDTO"}}},"required":true},"responses":{"200":{"description":"Configuração gravada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemDefaultResponseDTO"}}}},"404":{"description":"Referência não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemDefaultResponseDTO"}}}},"422":{"description":"Nenhum ou ambos os níveis, ou referência de outra empresa","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemDefaultResponseDTO"}}}}}}},"/item-variants/templates/{templateId}/attributes":{"get":{"tags":["Item Variants"],"summary":"Eixos declarados por um modelo","operationId":"getTemplateAttributes","parameters":[{"name":"templateId","in":"path","description":"ID do modelo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Eixos retornados com sucesso","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemVariantAttributeDTO"}}}}}}},"put":{"tags":["Item Variants"],"summary":"Declara quais eixos distinguem as variantes do modelo","description":"Só é permitido enquanto o modelo não tiver variantes: mudar os eixos depois deixaria as variantes existentes descrevendo uma combinação que não existe mais.","operationId":"setTemplateAttributes","parameters":[{"name":"templateId","in":"path","description":"ID do modelo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateAttributesRequestDTO"}}},"required":true},"responses":{"200":{"description":"Eixos declarados","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemVariantAttributeDTO"}}}}},"404":{"description":"Modelo ou atributo não encontrado","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemVariantAttributeDTO"}}}}},"422":{"description":"O item não é modelo, ou o modelo já tem variantes","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ItemVariantAttributeDTO"}}}}}}}},"/item-prices/{id}":{"get":{"tags":["Item Prices"],"summary":"Busca um preço","operationId":"get_10","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Preço encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemPriceResponseDTO"}}}},"404":{"description":"Preço não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemPriceResponseDTO"}}}}}},"put":{"tags":["Item Prices"],"summary":"Altera um preço","operationId":"update_19","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemPriceRequestDTO"}}},"required":true},"responses":{"200":{"description":"Preço alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemPriceResponseDTO"}}}},"404":{"description":"Preço não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemPriceResponseDTO"}}}},"422":{"description":"Regra de negócio violada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemPriceResponseDTO"}}}}}},"delete":{"tags":["Item Prices"],"summary":"Apaga um preço","operationId":"delete_19","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Preço apagado"},"404":{"description":"Preço não encontrado"}}}},"/item-groups/{id}":{"get":{"tags":["Item Groups"],"summary":"Busca grupo por ID","operationId":"getById_9","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Grupo encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemGroupResponseDTO"}}}},"404":{"description":"Grupo não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemGroupResponseDTO"}}}}}},"put":{"tags":["Item Groups"],"summary":"Atualiza grupo de item","operationId":"update_20","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ItemGroupRequestDTO"}}},"required":true},"responses":{"200":{"description":"Grupo atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemGroupResponseDTO"}}}},"404":{"description":"Grupo não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemGroupResponseDTO"}}}},"409":{"description":"Já existe grupo com esse nome no mesmo nível","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemGroupResponseDTO"}}}},"422":{"description":"Hierarquia inválida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ItemGroupResponseDTO"}}}}}},"delete":{"tags":["Item Groups"],"summary":"Remove grupo (soft-delete)","description":"Recusa enquanto houver grupos subordinados.","operationId":"delete_20","parameters":[{"name":"id","in":"path","description":"ID do grupo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Grupo removido"},"404":{"description":"Grupo não encontrado"},"422":{"description":"Grupo ainda tem subordinados"}}}},"/hr/users/{id}":{"get":{"tags":["Usuários do cliente"],"summary":"Busca uma pessoa do cliente","operationId":"getById_10","parameters":[{"name":"id","in":"path","description":"Identificador da conta no Keycloak","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Pessoa encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantUserResponseDTO"}}}},"422":{"description":"A pessoa não pertence a este cliente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantUserResponseDTO"}}}}}},"put":{"tags":["Usuários do cliente"],"summary":"Troca o nome e o perfil da pessoa neste cliente","description":"O e-mail não entra: ele é como a pessoa entra, e trocá-lo trocaria a identidade dela. Quem errou o endereço desliga e convida de novo.","operationId":"update_21","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TenantUserUpdateRequestDTO"}}},"required":true},"responses":{"200":{"description":"Pessoa atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantUserResponseDTO"}}}},"422":{"description":"A pessoa não pertence a este cliente","content":{"*/*":{"schema":{"$ref":"#/components/schemas/TenantUserResponseDTO"}}}}}},"delete":{"tags":["Usuários do cliente"],"summary":"Desliga a pessoa deste cliente","description":"Tira da organização e dos perfis dela. A conta continua existindo, e quem participa de outro cliente continua entrando lá.","operationId":"removeFromTenant","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Pessoa desligada"}}}},"/hr/employees/{id}":{"get":{"tags":["Funcionários"],"summary":"Busca um funcionário","operationId":"getById_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Funcionário encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmployeeResponseDTO"}}}}}},"put":{"tags":["Funcionários"],"summary":"Altera um funcionário","operationId":"update_22","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmployeeRequestDTO"}}},"required":true},"responses":{"200":{"description":"Funcionário alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmployeeResponseDTO"}}}},"409":{"description":"Código ou CPF já cadastrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/EmployeeResponseDTO"}}}}}},"delete":{"tags":["Funcionários"],"summary":"Remove um funcionário","description":"Remove a ficha, e só ela. A conta de acesso, quando existe, continua — desligar do cliente é o DELETE de /hr/users.","operationId":"delete_21","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Funcionário removido"}}}},"/fiscal-years/{id}":{"get":{"tags":["Fiscal Years"],"summary":"Busca exercício por ID","operationId":"getById_12","parameters":[{"name":"id","in":"path","description":"ID do exercício","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Exercício encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearResponseDTO"}}}},"404":{"description":"Exercício não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearResponseDTO"}}}}}},"put":{"tags":["Fiscal Years"],"summary":"Atualiza exercício","description":"Recusa alteração de exercício já encerrado.","operationId":"update_23","parameters":[{"name":"id","in":"path","description":"ID do exercício","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FiscalYearRequestDTO"}}},"required":true},"responses":{"200":{"description":"Exercício atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearResponseDTO"}}}},"404":{"description":"Exercício ou empresa não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearResponseDTO"}}}},"409":{"description":"Já existe exercício com esse nome","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearResponseDTO"}}}},"422":{"description":"Exercício encerrado, período inválido ou sobreposto","content":{"*/*":{"schema":{"$ref":"#/components/schemas/FiscalYearResponseDTO"}}}}}},"delete":{"tags":["Fiscal Years"],"summary":"Remove exercício (soft-delete)","description":"Recusa a remoção de exercício encerrado.","operationId":"delete_22","parameters":[{"name":"id","in":"path","description":"ID do exercício","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Exercício removido"},"404":{"description":"Exercício não encontrado"},"422":{"description":"Exercício encerrado"}}}},"/delivery-notes/{id}":{"get":{"tags":["Delivery Notes"],"summary":"Busca um documento","operationId":"get_11","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Documento encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryNoteResponseDTO"}}}},"404":{"description":"Documento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryNoteResponseDTO"}}}}}},"put":{"tags":["Delivery Notes"],"summary":"Altera um rascunho","operationId":"update_24","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeliveryNoteRequestDTO"}}},"required":true},"responses":{"200":{"description":"Rascunho alterado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryNoteResponseDTO"}}}},"404":{"description":"Documento não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryNoteResponseDTO"}}}},"422":{"description":"O documento já foi lançado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DeliveryNoteResponseDTO"}}}}}},"delete":{"tags":["Delivery Notes"],"summary":"Apaga um rascunho","operationId":"delete_23","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Rascunho apagado"},"404":{"description":"Documento não encontrado"},"422":{"description":"Já lançado; cancele-o"}}}},"/customers/{id}":{"get":{"tags":["Customers"],"summary":"Busca cliente por ID","operationId":"getById_13","parameters":[{"name":"id","in":"path","description":"ID do cliente","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Cliente encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponseDTO"}}}},"404":{"description":"Cliente não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponseDTO"}}}}}},"put":{"tags":["Customers"],"summary":"Atualiza cliente","operationId":"update_25","parameters":[{"name":"id","in":"path","description":"ID do cliente","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CustomerRequestDTO"}}},"required":true},"responses":{"200":{"description":"Cliente atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponseDTO"}}}},"400":{"description":"Payload inválido ou CPF/CNPJ inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponseDTO"}}}},"404":{"description":"Cliente, grupo ou moeda não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponseDTO"}}}},"409":{"description":"Já existe cliente com esse nome ou inscrição","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponseDTO"}}}},"422":{"description":"Regra de negócio violada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CustomerResponseDTO"}}}}}},"delete":{"tags":["Customers"],"summary":"Remove cliente (soft-delete)","operationId":"delete_24","parameters":[{"name":"id","in":"path","description":"ID do cliente","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Cliente removido"},"404":{"description":"Cliente não encontrado"}}}},"/currencies/{id}":{"get":{"tags":["Currencies"],"summary":"Busca moeda por ID","operationId":"getById_14","parameters":[{"name":"id","in":"path","description":"ID da moeda","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Moeda encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyResponseDTO"}}}},"404":{"description":"Moeda não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyResponseDTO"}}}}}},"put":{"tags":["Currencies"],"summary":"Atualiza moeda","operationId":"update_26","parameters":[{"name":"id","in":"path","description":"ID da moeda","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CurrencyRequestDTO"}}},"required":true},"responses":{"200":{"description":"Moeda atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyResponseDTO"}}}},"404":{"description":"Moeda não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyResponseDTO"}}}},"409":{"description":"Já existe moeda com esse código","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CurrencyResponseDTO"}}}}}},"delete":{"tags":["Currencies"],"summary":"Remove moeda (soft-delete)","description":"Marca a moeda como removida preenchendo deleted_at; não apaga fisicamente.","operationId":"delete_25","parameters":[{"name":"id","in":"path","description":"ID da moeda","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Moeda removida"},"404":{"description":"Moeda não encontrada"}}}},"/cost-centers/{id}":{"get":{"tags":["Cost Centers"],"summary":"Busca centro de custo por ID","operationId":"getById_15","parameters":[{"name":"id","in":"path","description":"ID do centro de custo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Centro de custo encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponseDTO"}}}},"404":{"description":"Centro de custo não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponseDTO"}}}}}},"put":{"tags":["Cost Centers"],"summary":"Atualiza centro de custo","operationId":"update_27","parameters":[{"name":"id","in":"path","description":"ID do centro de custo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CostCenterRequestDTO"}}},"required":true},"responses":{"200":{"description":"Centro de custo atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponseDTO"}}}},"404":{"description":"Centro de custo, empresa ou superior não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponseDTO"}}}},"409":{"description":"Já existe com esse nome ou código","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponseDTO"}}}},"422":{"description":"Hierarquia inválida","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CostCenterResponseDTO"}}}}}},"delete":{"tags":["Cost Centers"],"summary":"Remove centro de custo (soft-delete)","description":"Recusa a remoção enquanto houver subordinados.","operationId":"delete_26","parameters":[{"name":"id","in":"path","description":"ID do centro de custo","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Centro de custo removido"},"404":{"description":"Centro de custo não encontrado"},"422":{"description":"Ainda tem subordinados"}}}},"/companies/{id}":{"get":{"tags":["Companies"],"summary":"Busca empresa por ID","operationId":"getById_16","parameters":[{"name":"id","in":"path","description":"ID da empresa","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Empresa encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyResponseDTO"}}}},"404":{"description":"Empresa não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyResponseDTO"}}}}}},"put":{"tags":["Companies"],"summary":"Atualiza empresa","operationId":"update_28","parameters":[{"name":"id","in":"path","description":"ID da empresa","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyRequestDTO"}}},"required":true},"responses":{"200":{"description":"Empresa atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyResponseDTO"}}}},"404":{"description":"Empresa, moeda ou controladora não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyResponseDTO"}}}},"409":{"description":"Já existe empresa com esse nome ou sigla","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyResponseDTO"}}}},"422":{"description":"Controladora inválida ou hierarquia ficaria cíclica","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyResponseDTO"}}}}}},"delete":{"tags":["Companies"],"summary":"Remove empresa (soft-delete)","description":"Recusa a remoção enquanto houver empresas subordinadas.","operationId":"delete_27","parameters":[{"name":"id","in":"path","description":"ID da empresa","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Empresa removida"},"404":{"description":"Empresa não encontrada"},"422":{"description":"Empresa ainda tem subordinadas"}}}},"/companies/{companyId}/tax-regime":{"get":{"tags":["Regime tributário da empresa"],"summary":"O regime da empresa, com a conta aberta","description":"Responde 200 mesmo com cadastro incompleto: o que falta vai na lista de pendências, com o que fazer. Se o api-fiscal não responder, o regime vem da última leitura e a resposta diz de quando — indisponibilidade do fiscal não impede faturar.","operationId":"get_12","parameters":[{"name":"companyId","in":"path","description":"Empresa","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"name":"date","in":"query","description":"Período de apuração. Ausente, é hoje; informada, recalcula com a tabela e a janela daquela data.","required":false,"schema":{"type":"string","format":"date"},"example":"2026-09-04"},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"O regime e o que se deriva dele","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyTaxRegimeResponseDTO"}}}},"404":{"description":"Empresa não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyTaxRegimeResponseDTO"}}}}}},"put":{"tags":["Regime tributário da empresa"],"summary":"Grava o anexo e a RBT12 informada","description":"O regime não vem neste corpo: ele é gravado no emitente pelo cadastro fiscal, e há um lugar só onde ele mora (ADR-0001). A resposta é a mesma da leitura, já recalculada.","operationId":"save","parameters":[{"name":"companyId","in":"path","description":"Empresa","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyTaxRegimeRequestDTO"}}},"required":true},"responses":{"200":{"description":"Gravado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyTaxRegimeResponseDTO"}}}},"400":{"description":"Valor inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyTaxRegimeResponseDTO"}}}},"404":{"description":"Empresa não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyTaxRegimeResponseDTO"}}}}}}},"/companies/{companyId}/fiscal":{"get":{"tags":["Cadastro fiscal da empresa"],"summary":"O cadastro fiscal da empresa","description":"Lê do api-fiscal. Devolve 204 quando a empresa ainda não tem emitente.","operationId":"get_13","parameters":[{"name":"companyId","in":"path","description":"Empresa","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Cadastro encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFiscalResponseDTO"}}}},"204":{"description":"A empresa ainda não tem cadastro fiscal","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFiscalResponseDTO"}}}},"404":{"description":"Empresa não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFiscalResponseDTO"}}}}}},"put":{"tags":["Cadastro fiscal da empresa"],"summary":"Grava o cadastro fiscal","description":"Cria o emitente no api-fiscal na primeira vez e atualiza nas seguintes. O identificador do emitente nunca vem no corpo: ele sai da empresa deste cliente.","operationId":"save_1","parameters":[{"name":"companyId","in":"path","description":"Empresa","required":true,"schema":{"type":"integer","format":"int64"},"example":1},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompanyFiscalRequestDTO"}}},"required":true},"responses":{"200":{"description":"Cadastro gravado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFiscalResponseDTO"}}}},"400":{"description":"Falta dado obrigatório","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFiscalResponseDTO"}}}},"404":{"description":"Empresa não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyFiscalResponseDTO"}}}}}}},"/bank-accounts/{id}":{"get":{"tags":["Bank Accounts"],"summary":"Busca uma conta bancária","operationId":"get_14","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Conta encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankAccountResponseDTO"}}}},"404":{"description":"Conta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankAccountResponseDTO"}}}}}},"put":{"tags":["Bank Accounts"],"summary":"Altera uma conta bancária","operationId":"update_29","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankAccountRequestDTO"}}},"required":true},"responses":{"200":{"description":"Conta alterada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankAccountResponseDTO"}}}},"404":{"description":"Conta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankAccountResponseDTO"}}}},"422":{"description":"Regra de negócio violada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BankAccountResponseDTO"}}}}}},"delete":{"tags":["Bank Accounts"],"summary":"Apaga uma conta bancária","operationId":"delete_28","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Conta apagada"},"404":{"description":"Conta não encontrada"}}}},"/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Busca conta por ID","operationId":"getById_17","parameters":[{"name":"id","in":"path","description":"ID da conta","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Conta encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponseDTO"}}}},"404":{"description":"Conta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponseDTO"}}}}}},"put":{"tags":["Accounts"],"summary":"Atualiza conta","operationId":"update_30","parameters":[{"name":"id","in":"path","description":"ID da conta","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountRequestDTO"}}},"required":true},"responses":{"200":{"description":"Conta atualizada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponseDTO"}}}},"404":{"description":"Conta, empresa, superior ou moeda não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponseDTO"}}}},"409":{"description":"Já existe conta com esse nome ou código","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponseDTO"}}}},"422":{"description":"Hierarquia inválida ou conta com filhos deixando de ser sintética","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountResponseDTO"}}}}}},"delete":{"tags":["Accounts"],"summary":"Remove conta (soft-delete)","description":"Recusa a remoção enquanto houver contas subordinadas.","operationId":"delete_29","parameters":[{"name":"id","in":"path","description":"ID da conta","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Conta removida"},"404":{"description":"Conta não encontrada"},"422":{"description":"Conta ainda tem subordinadas"}}}},"/accounting-periods/{id}":{"get":{"tags":["Accounting Periods"],"summary":"Busca período por ID","operationId":"getById_18","parameters":[{"name":"id","in":"path","description":"ID do período","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Período encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}},"404":{"description":"Período não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}}}},"put":{"tags":["Accounting Periods"],"summary":"Atualiza período contábil","operationId":"update_31","parameters":[{"name":"id","in":"path","description":"ID do período","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountingPeriodRequestDTO"}}},"required":true},"responses":{"200":{"description":"Período atualizado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}},"404":{"description":"Período ou empresa não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}},"422":{"description":"Período fechado, datas invertidas ou sobreposição","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}}}},"delete":{"tags":["Accounting Periods"],"summary":"Remove período (soft-delete)","operationId":"delete_30","parameters":[{"name":"id","in":"path","description":"ID do período","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"204":{"description":"Período removido"},"404":{"description":"Período não encontrado"},"422":{"description":"Período fechado"}}}},"/accounting-periods/{id}/reopen":{"put":{"tags":["Accounting Periods"],"summary":"Reabre o período","operationId":"reopen","parameters":[{"name":"id","in":"path","description":"ID do período","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Período reaberto","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}},"404":{"description":"Período não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}},"422":{"description":"Período não estava fechado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}}}}},"/accounting-periods/{id}/close":{"put":{"tags":["Accounting Periods"],"summary":"Fecha o período","description":"Depois de fechado, nenhum lançamento com data dentro do período é aceito.","operationId":"close","parameters":[{"name":"id","in":"path","description":"ID do período","required":true,"schema":{"type":"integer","format":"int64"}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Período fechado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}},"404":{"description":"Período não encontrado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}},"422":{"description":"Período já estava fechado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AccountingPeriodResponseDTO"}}}}}}},"/warehouses":{"get":{"tags":["Warehouses"],"summary":"Lista depósitos","operationId":"getAll","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":50,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","default":["name,ASC"],"items":{"type":"string"}}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Página retornada com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModelWarehouseResponseDTO"}}}}}},"post":{"tags":["Warehouses"],"summary":"Cria depósito","operationId":"create","parameters":[{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/WarehouseRequestDTO"}}},"required":true},"responses":{"200":{"description":"Depósito criado","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}},"404":{"description":"Empresa, superior ou conta não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}},"409":{"description":"Já existe depósito com esse nome ou código","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}},"422":{"description":"Superior analítico ou de outra empresa, ou conta que não é STOCK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/WarehouseResponseDTO"}}}}}}},"/uoms":{"get":{"tags":["UOMs"],"summary":"Lista unidades de medida","description":"Retorna as unidades ativas (não removidas) de forma paginada.","operationId":"getAll_1","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","default":["name,ASC"],"items":{"type":"string"}}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Página retornada com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModelUomResponseDTO"}}}}}},"post":{"tags":["UOMs"],"summary":"Cria unidade de medida","operationId":"create_1","parameters":[{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UomRequestDTO"}}},"required":true},"responses":{"200":{"description":"Unidade criada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}},"404":{"description":"Categoria informada não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}},"409":{"description":"Já existe unidade com esse nome","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomResponseDTO"}}}}}}},"/uom-conversions":{"get":{"tags":["UOM Conversions"],"summary":"Lista fatores de conversão","description":"Retorna as conversões ativas (não removidas) de forma paginada.","operationId":"getAll_2","parameters":[{"name":"page","in":"query","description":"Zero-based page index (0..N)","required":false,"schema":{"type":"integer","default":0,"minimum":0}},{"name":"size","in":"query","description":"The size of the page to be returned","required":false,"schema":{"type":"integer","default":20,"minimum":1}},{"name":"sort","in":"query","description":"Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.","required":false,"schema":{"type":"array","items":{"type":"string"}}},{"$ref":"#/components/parameters/X-Tenant"}],"responses":{"200":{"description":"Página retornada com sucesso","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PagedModelUomConversionResponseDTO"}}}}}},"post":{"tags":["UOM Conversions"],"summary":"Cria fator de conversão","operationId":"create_2","parameters":[{"$ref":"#/components/parameters/X-Tenant"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UomConversionRequestDTO"}}},"required":true},"responses":{"200":{"description":"Conversão criada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"400":{"description":"Payload inválido","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"404":{"description":"Unidade não encontrada","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"409":{"description":"Já existe conversão para esse par","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}},"422":{"description":"Unidades iguais, sem categoria, ou de categorias diferentes","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UomConversionResponseDTO"}}}}}}},"/uom
[...]
